In [1]:
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv("MySteps.csv")
df.head()

,Full_date,Day_Name,steps,Activity,distance,runDistance,calories,Year,Month Name,DayType,Full_date (Quarter),Full_date (Month Index),Full_date (Month),deepSleepTime,shallowSleepTime,wakeTime,start,stop
0,1-May-16,Sunday,3869,Low,2651,0,244,2016,May,Weekend,Qtr2,5,May,0,0,0,1461708000,1461708000
1,8-May-16,Sunday,4088,Low,3119,0,197,2016,May,Weekend,Qtr2,5,May,158,262,2,1461801240,1461826560
2,9-May-16,Monday,1958,Low,1266,0,134,2016,May,Weekday,Qtr2,5,May,234,241,0,1461883500,1461912000
3,11-May-16,Wednesday,2569,Low,1661,0,198,2016,May,Weekday,Qtr2,5,May,239,318,0,1461979500,1462012920
4,13-May-16,Friday,4276,Low,2809,0,251,2016,May,Weekday,Qtr2,5,May,180,333,3,1462065840,1462096800

In [3]:
profile = ProfileReport(df, title="My Steps - EDA Report", explorative=True)

In [4]:
profile.to_file("MySteps_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                                                                                               | 0/18 [00:00<?, ?it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18/18 [00:01<00:00, 13.93it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]